body {
    background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/21/degradado-difuminado-morado_2560x1440_7944.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.menucontainer {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    justify-content: space-between;
  }
  
  .menucontainer p {
    font-weight: bold;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .menu {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    background-color: white;
    color: black;
  }
  
  .container {
    border-style:groove;
    justify-content: center;
    align-items: center;
    border-width: 20px;
    border-color: rgba(255, 255, 255, 0); /* blanco con 50% de opacidad */
    padding: 0px;
    background-color: #f2f2f2;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .circle {
    align-items: center;
  }